
body {
	font-family: sans-serif;
	margin: 10px 10px 10px 10px;
}

div h1 {
	text-align: center;
	border-bottom: 1px solid black;
}

div.transform {
	padding-left: 20px;
	margin-bottom: 20px;
}

div.xref {
	padding-left: 20px;
	margin-bottom: 20px;
}

div.transform h2 {
	margin-left: -20px;
}

div.xref h2 {
	background: url(images/class_obj.gif) no-repeat;
	background-position: 0px 7px;
	padding-left: 18px;
}

p.cls {
	background: url(images/class_obj.gif) no-repeat;
	background-position: 0px 2px;
	padding-left: 18px;
}

p.def {
	background: url(images/shift_r_edit.gif) no-repeat;
	background-position: 0px 2px;
	padding-left: 18px;
}

p.use {
	background: url(images/shift_l_edit.gif) no-repeat;
	background-position: 0px 2px;
	padding-left: 18px;
}

p.prototype {
	font-family: courier;
	background: url(images/methpub_obj.gif) no-repeat;
	padding-left: 18px;
}

a.trans-ref {
	background: url(images/methpub_obj.gif) no-repeat;
	padding-left: 15px;
}

p.cls span {
	font-family: courier;
}

a {
	text-decoration: none;
}

.desc {
	background-color: #EEEEEE;
	border: 1px dashed gray;
	margin: 0px 0px 0px 0px;
	padding: 10px;
}

table.inline {
	border-collapse: collapse;
	padding: 0px;
	margin-left: 30px;
}

table.inline th {
	border: 1px solid black;
	background-color: #DDBBFF;
	padding: 5px;
}

table.inline td {
	border: 1px solid black;
	margin: 0px;
	padding: 5px;
}

td.leftalign {
	text-align: left;
}

td.rightalign {
	text-align: right;
}

pre {
	font-family: courier;
	background-color: #FFFFFF;
	border: 1px solid gray;
	margin: 0px 50px 0px 50px;
	padding: 10px;
}

a.type-ref {
	color: green;
}

span.dir-keyword {
	color: blue;
}

/* Code Highlight */
.code .kw1 {color: #970; font-weight: bold; }
.code .kw4 {color: #0d4; }
.code .nu0 {color: #d0d; }
