a#gecos img { background-image : url(../../images/topiclabel/ov_gecos48.gif); }
a#gecos:hover img { background-image : url(../../images/topiclabel/ov_gecos48_hov.gif); }
a#script img { background-image : url(../../images/topiclabel/ov_gecos48.gif); }
a#script:hover img { background-image : url(../../images/topiclabel/ov_gecos48_hov.gif); }
a#compiling img { background-image : url(../../images/topiclabel/ov_gecos48.gif); }
a#compiling:hover img { background-image : url(../../images/topiclabel/ov_gecos48_hov.gif); }
a#plugin img { background-image : url(../../images/topiclabel/ov_gecos48.gif); }
a#plugin:hover img { background-image : url(../../images/topiclabel/ov_gecos48_hov.gif); }
