body {
	/* font: 16pt georgia; */
	font-family: Arial, sans-serif;
	margin: 0px;
}

#container {
	/* background: url(images/pcb.png) no-repeat top left; */
 	/* padding-top: 20px; */
	padding-left: 5%;
	width: 90%; 
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

h1 {
	color: #888888;
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	color: #0066FF;
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: underline;
}

h3 {
	color: #0066FF;
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
}

#name {
	padding-left: 30px;
	font-size: 24pt;
	color: black;
}

.article {
	padding-left: 30px;
	width: 600px;
	/*background-color: #ffff00;*/
}

div.code {
	font-family: monospace;
	background-color: #fff;
	width: 100%; margin : 10px; padding : 2px; border-radius :
	.25em; box-shadow : .1em .1em .5em rgba( 0, 0, 0, .45); line-height : 0;
	counter-reset: line;
}

div.code span {
	display: block;
	line-height: 1.5rem;
}

div.code span:BEFORE {
	width: 20px;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	border-right: 1px solid #ddd;
	padding: 0 .5em;
	margin-right: .5em;
	color: #888
}

div.file {
	display: block;
	font-family: monospace;
	background-color: #fff;
	width: 100%; margin : 10px; padding : 2px; border-radius :
	.25em; box-shadow : .1em .1em .5em rgba( 0, 0, 0, .45); line-height : 0;
	counter-reset: line;
}

div.file #title{
	display: block;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-top: medium solid black;
}

div.file #code{
	display: block;
	line-height: 1.5rem;
}

div.file #code:BEFORE{
	width: 20px; 
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	border-right: 1px solid #ddd;
	padding: 0 .5em;
	margin-right: .5em;
	color: #888
}

#banner {
	margin-top: 40px;
}

a:link {
	text-decoration: none;
	color: #0000FF;
}

a:visited {
	text-decoration: none;
	color: #00CCFF;
}